h1{
    color:rgb(0, 255, 195);
    text-align: center;
    margin: auto;
    font-size:100px;
}
span{
    height: 100px;
    width: 100px;
    display: inline-block;
    border: 5px solid red;
    padding: 10px;  
    margin: 10px;
}

#bluesquare{
    background-color: blue;
}
#blacksquare{
    background-color: black;
}
#greensquare{
    background-color: green;
}
.blue{
    background-color: blue;
}

.square{
    height: 100px;
    width: 100px;
    background-color: black;
    padding-left: 10px;
    border: crimson groove 1px;
}